@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* GÉNÉRAL */
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .container {
    width: 1350px;
    margin: auto;
    max-width: 100%;
  }
}

/* HEADER */
.header {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
}

.header__logo {
  font-family: 'Shrikhand';
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding: 15px;
}

/* MAIN */
/* Localisation */
.localisation {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
}

.localisation i {
  margin: 10px;
}

.localisation p {
  font-weight: 500;
}

/* Description */
.description {
  text-align: center;
  padding: 20px 10px;
  background-color: #f6f6f6;
  height: 220px;
}

.description h2 {
  margin-bottom: 10px;
}

.description p {
  margin-bottom: 40px;
  font-weight: 200;
  font-size: 18px;
  margin-top: 0;
}

/* Fonctionnement */
.fonctionnement {
  padding: 20px;
}

.fonctionnement ol {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 992px) {
  .fonctionnement ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fonctionnement ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 4px 4px 9px #00000021;
          box-shadow: 4px 4px 9px #00000021;
  border-radius: 20px;
}

.fonctionnement ol li span {
  font-weight: 500;
}

.fonctionnement ol li i {
  margin-right: 15px;
}

@media screen and (min-width: 992px) {
  .fonctionnement ol li {
    width: 30%;
  }
}

.fonctionnement__number {
  background-color: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -25px;
  margin-right: 20px;
}

/* problème à régler (insertion dans le nesting)*/
.fonctionnement .fonctionnement__action--color {
  background-color: #f5edff;
}

/* Restaurants */
.restaurants {
  padding: 20px;
  background-color: #f6f6f6;
}

.restaurants__preview {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  text-decoration: none;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .restaurants__preview {
    width: 48%;
  }
}

.restaurants__preview figure {
  margin: 0;
  position: relative;
}

.restaurants__preview img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants__preview a {
  text-decoration: none;
  color: black;
}

.restaurants__preview figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 10px 0 10px;
  position: relative;
}

.restaurants__preview h3 {
  margin-bottom: 2px;
  margin-top: 0;
}

.restaurants__preview p {
  margin-top: 0px;
  font-weight: 200;
}

.restaurants__preview i {
  font-size: 25px;
  cursor: pointer;
}

.restaurants__tag {
  background-color: #99E2D0;
  color: #3b8468;
  font-weight: 500;
  padding: 10px;
  border-radius: 1px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (min-width: 992px) {
  .restaurants__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.restaurants__heart--empty {
  position: absolute;
  right: 20px;
}

.restaurants__heart--empty:hover {
  display: none;
}

.restaurants__heart--filled {
  position: absolute;
  right: 20px;
  opacity: 0;
}

.restaurants__heart--filled:hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background: -webkit-gradient(color-secondary, #9356DC);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FOOTER */
.footer {
  background-color: #353535;
  color: white;
  height: 200px;
}

@media screen and (min-width: 992px) {
  .footer {
    height: 125px;
  }
}

.footer h3 {
  font-family: 'Shrikhand';
  font-weight: 100;
  margin: 0px 20px 0px 20px;
  padding-top: 20px;
}

@media screen and (min-width: 992px) {
  .footer h3 {
    text-align: center;
    font-size: 25px;
  }
}

.footer__container {
  margin: 20px;
}

@media screen and (min-width: 992px) {
  .footer__container {
    margin: 0;
  }
}

.footer__container ul {
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .footer__container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
}

.footer__container li {
  margin-bottom: 5px;
}

@media screen and (min-width: 992px) {
  .footer__container li {
    margin: 10px;
  }
}

.footer__container a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.footer__container p {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__withicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__withicons i {
  margin-right: 10px;
}

/* PAGES DE RESTAURANTS */
/* HEADER */
.body-menus .header {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-menus .header__logo {
  font-family: 'Shrikhand', Arial;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding: 15px 40px 15px 40px;
}

.body-menus .header .fa-arrow-left {
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.banniere {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

@media screen and (min-width: 992px) {
  .banniere {
    height: 500px;
  }
}

/* MAIN */
.main-menus {
  background-color: #f6f6f6;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -50px;
  position: relative;
  width: 100%;
}

/* Header - Nom du restaurant */
.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.menu-header h2 {
  font-family: 'Shrikhand', Arial;
  font-size: 30px;
  font-weight: 100;
  margin: 0;
}

.menu-header i {
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: 450ms;
  transition: 450ms;
}

.menu-header i:hover {
  font-weight: bold;
  color: #9356DC;
}

/* MENU */
.menu {
  padding: 5px 25px;
}

@media screen and (min-width: 992px) {
  .menu {
    padding: 5px 20px;
    width: 100%;
    max-width: 100%;
    min-width: 20%;
  }
}

.menu h2 {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: #99E2D0;
  margin: 0;
}

.menu__underline {
  width: 15%;
  height: 3.5px;
  background-color: #99E2D0;
  margin-bottom: 15px;
}

.menu article {
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /*justify-content: space-between;*/
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu article:hover .menu__check {
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
  margin-right: 0;
}

.menu article:hover .menu__check i {
  -webkit-animation: quarter-spin 0.5s ease-in-out;
          animation: quarter-spin 0.5s ease-in-out;
}

@media screen and (min-width: 992px) {
  .menu article {
    width: 100%;
  }
}

.menu__text {
  width: 100%;
  max-width: 100%;
  min-width: 20%;
  padding: 15px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__text {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .menu__text {
    width: 82%;
    min-width: 20%;
    max-width: 100%;
  }
}

.menu__text h3 {
  margin: 0;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__text p {
  margin: 0;
  font-weight: 200;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__overflow--ellipsis {
  text-overflow: ellipsis;
}

.menu__price {
  font-weight: 500;
  padding: 5px;
  margin: 0 20px 10px 0;
}

.menu__check {
  color: white;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: -85px;
}

.menu__check i {
  padding: 25.1px;
  font-size: 25px;
}

@media screen and (min-width: 992px) {
  .container-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.command-button {
  text-align: center;
  padding: 40px;
}

.command-button a {
  border: none;
  text-decoration: none;
  padding: 15px 45px;
  border-radius: 35px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 10px 0px;
          box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 10px 0px;
  cursor: pointer;
  -webkit-transition-duration: .30s;
          transition-duration: .30s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
}

.command-button a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa91de), to(#9e6cd9));
  background-image: linear-gradient(#fa91de, #9e6cd9);
  -webkit-box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 10px 0px;
          box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 10px 0px;
}

.description a {
  border: none;
  text-decoration: none;
  padding: 18px;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 10px 0px;
          box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 10px 0px;
  cursor: pointer;
  -webkit-transition-duration: .30s;
          transition-duration: .30s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
}

.description a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa91de), to(#9e6cd9));
  background-image: linear-gradient(#fa91de, #9e6cd9);
  -webkit-box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 10px 0px;
          box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 10px 0px;
}

@-webkit-keyframes quarter-spin {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes quarter-spin {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */