/* Description */

.description{
  text-align: center;
  padding: 20px 10px;
  background-color: #f6f6f6;
  height: 220px;
  h2{
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 40px;
    font-weight: 200;
    font-size: 18px;
    margin-top: 0;
  }
  a{
    border: none;
    text-decoration: none;
    padding: 18px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(#FF79DA, #9356DC);
  }
}