.description{
  a{
    border: none;
    text-decoration: none;
    padding: 18px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-image: linear-gradient($color-secondary, $color-primary);
  }
}