/* MENU */

.menu{
  padding: 5px 25px;
  h2{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: $color-tertiary;
    margin: 0;
  }
  &__underline{
    width: 15%;
    height: 3.5px;
    background-color: $color-tertiary;
    margin-bottom: 15px;
  }
  article{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
    overflow: hidden;
    &:hover .menu__check i{
      margin-right: 0;
    }
    @media screen and (min-width: 992px) {
      width: 100%;
    }
  }
  &__text{
    width: 90%;
    padding: 15px;
    h3{
      margin: 0;
      font-weight: 500;
    }
    p{
      margin: 0;
      font-weight: 200;
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &__overflow{
    &--ellipsis{
      text-overflow: ellipsis;
    }
  }
  span{
    font-weight: 500;
    padding: 15px;
  }
  &__check{
    color: white;
    i{
      background-color: $color-tertiary;
      padding: 25.1px;
      font-size: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-right: -80px;
    }
  }
}

@media screen and (min-width: 992px) {
  .container-menu{
    display: flex;
    justify-content: space-around;

  }
}