/* MENU */

.menu{
  padding: 5px 25px;
  @media screen and (min-width: 992px) {
    padding: 5px 20px;
    width: 100%;
    max-width: 100%;
    min-width: 20%;
  }
  h2{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: $color-tertiary;
    margin: 0;
  }
  &__underline{
    width: 15%;
    height: 3.5px;
    background-color: $color-tertiary;
    margin-bottom: 15px;
  }
  article{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    animation: appear 2s;
    margin-bottom: 15px;
    overflow: hidden;
    animation-fill-mode: both;
    &:hover .menu__check{
      transition: margin-right 0.7s;
      margin-right: 0;
    }
    &:hover .menu__check i{
      animation: quarter-spin 0.5s ease-in-out;
    }
    @media screen and (min-width: 992px) {
      width: 100%;
    }
  }
  &__text{
    width: 100%;
    max-width: 100%;
    min-width: 20%;
    padding: 15px;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 100%;
    }
    @media screen and (min-width: 992px) {
      width: 82%;
      min-width: 20%;
      max-width: 100%;
    }
    h3{
      margin: 0;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p{
      margin: 0;
      font-weight: 200;
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &__overflow{
    &--ellipsis{
      text-overflow: ellipsis;
    }
  }
  &__price{
    font-weight: 500;
    padding: 5px;
    margin: 0 20px 10px 0;
  }
  &__check{
    color: white;
    background-color: $color-tertiary;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: -85px;
    i{
      padding: 25.1px;
      font-size: 25px;
    }
  }
  .delay-1{
    animation-delay: .5s;
  }
  .delay-2{
    animation-delay: 1s;
  }
  .delay-3{
    animation-delay: 1.5s;
  }
}

@media screen and (min-width: 992px) {
  .container-menu{
    display: flex;
    justify-content: space-around;

  }
}